@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  background-color: #d3d3d3;
  height: 100vh;
  width: 100vw;
}

header {
  background-color: #808080;
  color: #ffffff;
  padding: 10px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

header > h1 {
  flex: 0 0 200px;
  /* border: 1px dotted; para marcar a box */
  padding: 5px;
  text-shadow: 2px 2px 0px #00000054;
}

nav > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  align-items: flex-start;
  justify-content: flex-end;
  /* border: 1px dotted; para marcar a box */
}

nav ul > li > a {
  background-color: #2b2b2b;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
nav a:hover {
  background-color: #ffffff;
  color: #2b2b2b;
  transition: background-color 0.5s;
}

main {
  background-color: #ffffff;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #00000082;
}
